<div>
	<form name="bill-form" method="POST" @submit.prevent="submit">
		<modal :modal="modalOptions">
			<div slot="content">
				<page-title>
					<h5>{{title()}}</h5>
				</page-title>
				<div class="row">
					<div class="input-field col s12">
						<label class="active">Conta Bancária</label>
						<input type="text" :id="bankAccountTextId()" autocomplete="off" :data-activates="bankAccountDropdownId()" data-beloworigin="true" :value="bank.name"/>
						<ul :id="bankAccountDropdownId()" class="dropdown-content ac-dropdown"></ul>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<select-material :options="cpOptions" :selected="bill.category_id" :parent="this._uid"></select-material>
						<label class="active">Categoria</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<label class="active">Vencimento</label>
						<input type="date" v-model="bill.date_due">
					</div>
					<div class="input-field col s6">
						<label>Valor</label>
						<input type="number" step="0.01" v-model="bill.value">
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<input type="text" v-model="bill.name" id="name" name="name" class="validate" 
							v-validate v-validate="required" data-vv-as="nome" :class="{'invalid': errors.has('name')}">
						<label for="name" :data-error="errors.first('name')">Nome</label>
					</div>
					<div class="input-field col s6">
						<input type="checkbox" v-model="bill.done" :id="doneId()">
						<label :for="doneId()">Pago</label>
					</div>
				</div>
			</div>
			<div slot="footer">
				<button type="submit" class="btn btn-flat waves-effect green lighten-2 modal-close modal-action">OK</button>
				<button type="button" class="btn btn-flat waves-effect waves-red modal-close modal-action">Cancelar</button>
			</div>
		</modal>
	</form>
</div>