
// Fonts
@import url(http://fonts.googleapis.com/icon?family=Material+Icons);

// Materialize
@import "node_modules/materialize-css/sass/components/color";

// Variables
@import "variables";

// Materialize
@import "node_modules/materialize-css/sass/materialize";

// Default SCSS
@import "../../_default/sass/_default";
@import "../../_default/sass/select2-materialize";

body {
	background-color: color('green', 'lighten-5');
}

.spinner {
	@extend .progress;
	margin: 0;
}

.spiner-fixed {
	width: 100%;
	position: fixed;
	z-index: 998;
}

.filter-group {
	.btn {
		float: right;
		height: 3rem;
		line-height: 3rem;
	}
	.filter-wrapper {
		overflow: hidden;
		padding-right: 10px;
	}
}

.category-tree{
	@extend .collection;
	border: none;
	margin: 0;
	overflow: visible;

	.category-child{
		@extend .collection-item;
		padding-left: 50px;
	}

	.category-symbol{
		line-height: 35px;
		height: 35px;

		i{
			line-height: inherit;
			height: inherit;
		}
	}
}